<aside th:fragment="sidebar" class="sidebar bg-secondary p-3" style="width: 250px; height: 100vh;">
    <ul class="list-group">
        <li class="list-group-item"><a href="/allbook" class="nav-link">📚 Booklist</a></li>
        <li class="list-group-item"><a href="/allstudent" class="nav-link">👤 Studentlist</a></li>
        <li class="list-group-item"><a href="/issued" class="nav-link">⚙ Book Transaction</a></li>
         <li class="list-group-item"><a href="/logout" class="nav-link">🔒 Logout</a></li>
    </ul>
</aside>
